<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <link th:href="@{/css/Bootstrap.min.css}" rel="stylesheet">
  <title>회원 정보</title>

  <script th:inline="javascript">
    const host = 'http://' + window.location.host;


    $(document).ready(function(){
      // 토큰 인증
      var atk = localStorage.getItem("accessToken");

      // 엑세스 토큰이 없을시 로그인페이지로 이동
      if (atk === undefined || atk === '') {
        window.location.href = 'http://' + window.location.host + '/api/member/loginPage';
        return;
      }
      const isSameMember = /*[[${isSameMember}]]*/ '';
      const membmerId = /*[[${memberId}]]*/ '';

      if (isSameMember) {
        $('#chatting').hide();
        $('#inviting').hide();
      }

      $.ajax({
        type:'GET',
        url:`/api/member/getMember/` + membmerId,
        contentType: 'application/json',
        headers: {
          'Authorization': atk
        }
      })
      .done(function (res){
        const username = res.username;
        const email = res.email;

      })
    })

    function chattingClicked() {
      // 클릭되었을 때 실행할 동작을 정의
      var atk = localStorage.getItem("accessToken");
      var memberId = /*[[${memberId}]]*/ '';

      // 채팅방 생성 or 기존 roomId 가져오기
      $.ajax({
        type: 'POST',
        url: '/api/chat/' + memberId,
        contentType: 'application/json',
        headers: {
          'Authorization': atk
        }
      })
      .done(function (res) {
        // 성공적으로 처리된 경우의 동작
        var roomId = res.data.roomId;
        // 채팅방으로 이동
        $.ajax({
          type: 'GET',
          url: '/api/chat/chatRoom/' + roomId,
          contentType: 'application/json',
          headers: {
            'Authorization': atk
          }
        })
        .done(function (res, status, xhr) {
          window.location.href = host + '/api/chat/chatRoom/' + roomId;
        })


        console.log(roomId);
      })
      .fail(function (xhr, status, error) {
        // 실패한 경우의 동작
        console.error('채팅 요청 API 에러', error);
      });
    }


  </script>
</head>
<body>
<div style="margin: 40px 35% 200px 35%">
  <div>
    <img src="/img/default.png"
         style="border-radius: 100%; height: 200px; width: 200px; float:left"
         class="col-auto">
  </div>
  <div style="padding-top: 40px">
    <h2 th:value="username"></h2>
    <h2 style="margin-top: 30px" th:value="email"></h2>
  </div>
  <div style="margin-top:100px; background-color: beige">
    <h2>태그 목록</h2>
  </div>
  <div style="margin-top:100px; background-color: beige; height: 200px">
    <h2 th:value="introduction"></h2>
  </div>
  <div>
    <div style="margin-top:50px; margin-left: 15%" id="chatting" onclick="chattingClicked()">
      <img src="/img/message.png"
           style="border-radius: 100%; height: 85px; width: 85px; float:left"
           class="col-auto">
    </div>
    <div style="margin-top:50px; margin-left: 60% " id="inviting">
      <img src="/img/invite.png"
           style="border-radius: 100%; height: 100px; width: 100px; float:left"
           class="col-auto">
    </div>
  </div>
</div>


</body>
</html>