<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <title>withUs</title>
</head>
<style>
  @font-face {
    font-family: "Cafe24Supermagic-Bold-v1.0";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  body {
    /*background-image: url('/img/background.jpg'); !* 이미지 URL로 설정 *!*/
    font-family: "Cafe24Supermagic-Bold-v1.0";
    background-color: #98a9bc;
    background-size: cover; /* 배경 이미지를 창에 맞추기 */
  }

  .tag-item {
    display: inline-block;
    margin-right: 5px;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
  }

  .tag-item button {
    background-color: #0c63e4;
    color: #fff;
    border: none;
    padding: 3px 5px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
  }

  .tag {
    margin-top: 20px;
    margin-bottom: -20px;
  }
</style>
<script th:inline="javascript">
  const host = 'http://' + window.location.host;
  let memberId = /*[[${memberId}]]*/ '';
  console.log(memberId);
  let loginMemberId = /*[[${loginMemberId}]]*/ '';
  console.log(loginMemberId);

  $(document).ready(function(){
    if(memberId !== loginMemberId){
      alert("권한이 없습니다.");
      history.back();
    }
    $('#passwordContainer').hide();

    $.ajax({
      type:'GET',
      url:`/api/member/`+ memberId,
      contentType: 'application/json',
      success: function(response){
        if(response.data.imageURL !== null){
          $('#profileImage').attr('src', response.data.imageURL);
        } else{
          $('#profileImage').attr('src', '/img/default.png');
        }

        $('#username').val(response.data.username);
        $('#email').val(response.data.email);
        $('#introduction').val(response.data.introduction);
        let tagArray = JSON.parse(response.data.tag);
        console.log(tagArray);
        tagArray.forEach(function(tag) {
          $('#tagList').append( $('<span class="tag-item" style="margin-right: 5px">'
              + tag.trim()
              + ' <button onclick="removeTag(this)">x</button></span>'));
          console.log(tag);
        });
      },
      error: function(error){
        console.error("에러 :", error)
      }
    });
  });

  function submitUpdate(){
    let formData = new FormData();
    let tagList = $('#tagList .tag-item');
    let tags = [];
    tagList.each(function () {
      let tag = $(this).text().trim().replace('x', '');
      tags.push(tag);
      console.log(tag);
    });

    formData.append('password', $('#password').val());
    formData.append('passwordCheck', $('#passwordCheck').val());
    formData.append('username', $('#username').val());
    formData.append('email', $('#email').val());
    formData.append('introduction', $('#introduction').val());
    formData.append('tag', JSON.stringify(tags));
    if($('#formFileSm')[0].files[0]){
      formData.append('imageFile', $('#formFileSm')[0].files[0]);
    }

    $.ajax({
      method:'PATCH',
      url:'/api/member/'+memberId,
      contentType: false,
      processData: false,
      data : formData,
      success:function (response){
        if(response.msg === '프로필 수정 성공'){

          window.location.href = host + '/api/member/' + memberId+ '/profilePage';

        } else{
          console.error('프로필 수정 실패', response);
        }
      },
      error: function (error){
        console.error('에러 :', error.responseJSON.msg);
        alert(error.responseJSON.msg);
      }
    })
  }

  function checkInput() {
    if ($('#tag').val().trim().length >= 1 && $('#tag').val().trim().length <=4) {
      $('#addButton').prop('disabled',false);
    } else{
      $('#addButton').prop('disabled',true);
    }
  }

  function addTag() {
    if($('#tagList .tag-item').length<5){
      let tagValue = $('#tag').val().trim();
      let tagListItem = $('<span class="tag-item" style="margin-right: 5px">'
          + tagValue
          + ' <button onclick="removeTag(this)">x</button></span>'
      );
      $('#tagList').append(tagListItem);
      $('#tag').val('');
      checkInput();
    } else{
      alert("태그는 최대 5개까지 등록 가능합니다.")
    }
  }

  function removeTag(button) {
    // x 버튼을 눌렀을 때 실행되는 함수
    $(button).parent().remove();
  }

  function authenticationEmail(){
    let email = jQuery('#email').val();
    $.ajax({
      type:"POST",
      url:`/api/member/signup/email`,
      contentType:"application/json",
      dataType:"json",
      data : JSON.stringify({email}),
      success: function (response) {
          alert(response.msg);
      },
      error: function (error) {
        alert(error.responseJSON.msg);
      }

    })

  }

  function UpdatePassword() {
    var memberId = /*[[${memberId}]]*/ '';
    if($('#password').val() !== $('#passwordCheck').val()){
      alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
    }else{
      $.ajax({
        type:'PATCH',
        url :'/api/member/'+ memberId + '/updatePassword',
        contentType : 'application/json',
        data : JSON.stringify({
          password : $('#password').val()
        }),
        success : function (response){
          if(response.msg === "비밀번호 수정 성공"){
            alert(response.msg);
            window.location.href = host + '/api/member/'+ memberId + '/profilePage';
          } else{
            alert(response.msg);
          }
        },
        error : function(error){
          alert(error.responseJSON.msg);
        }
      })
    }

  }

  function handleKeyPress(event) {
    if (event.key === 'Enter') {
      event.preventDefault(); // Enter 키의 기본 동작(폼 제출)을 방지
      UpdatePassword();
    }
  }

</script>
<body>
  <div style="margin: 50px 35% 0 35%">
    <div>
      <img id="profileImage"
           style="border-radius: 100%; height: 150px; width: 150px; float:left; margin-bottom: 30px">
    </div>
    <div class="mb-3">
      <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    <div style="margin-top: 10px; width: 200px">
      <input class="form-control form-control"
             type="text"
             id="username"
             minlength="3" maxlength="8"
             placeholder="이름을 입력해주세요.">
    </div>
    <div>
      <div>
        <form class="row g-1" method="post" onsubmit="return false">
          <div class="col-lg-9" style="float:left; margin-top: 20px">
            <input type="text"
                   class="form-control form-control"
                   name="email"
                   id="email"
                   placeholder="이메일을 입력해 주세요">
          </div>
          <div>
            <button type="button"
                    class="btn btn-primary col-auto" onclick="authenticationEmail()">인증
            </button>
          </div>
        </form>
      </div>
      <div style="padding: 5px ">
        <input class="form-control form-control-lg"
               type="text"
               id="code"
               placeholder="인증번호를 입력해주세요.">
      </div>
    </div>
    <div class="tag">
      <p id="tagList">태그 : </p>
    </div>
    <div style="margin-top:30px;" class="row g-2" id="tagFormat">
      <div class="col-lg-9">
        <input class="form-control form-control"
               type="text"
               id="tag"
               oninput="checkInput()"
               placeholder="태그를 입력해주세요.(최대4글자)">
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-primary" id="addButton" disabled
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .4rem;"
                onclick="addTag()">추가
        </button>
      </div>
    </div>
    <div style="margin-top:30px; margin-bottom: 30px; background-color: beige">
      <input class="form-control form-control"
             type="text"
             id="introduction"
             maxlength="100"
             placeholder="자기소개를 입력해주세요.">
    </div>
    <div id="passwordContainer">
    </div>
    <div style="text-align: center; margin-bottom: 30px">
      <button type="button"
              class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#passwordModal">비밀번호 변경
      </button>
      <button type="submit"
              class="btn btn-primary" onclick="submitUpdate()">수정 완료
      </button>
      <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">비밀번호 변경</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="password" class="col-form-label">비밀번호 입력 : </label>
                  <input id="password" type="password" onkeypress="handleKeyPress(event)" min="4" max="16"></input>
                </div>
                <div class="mb-3">
                  <label for="passwordCheck" class="col-form-label">비밀번호 확인 : </label>
                  <input id="passwordCheck" type="password" onkeypress="handleKeyPress(event)" min="4" max="16"></input>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary" onclick="UpdatePassword()">확인</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>