<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!--  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
  <script th:src="@{/js/sse.js}"></script>
  <title>withUs</title>
</head>
<style>

  body {
    font-family: 'Poor Story', system-ui;
    background-color: #98a9bc;
    background-size: cover; /* 배경 이미지를 창에 맞추기 */
  }
  .main {
    font-family: 'Poor Story', system-ui;
    padding-right: 20%;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
  }

  .title-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .tag-item {
    display: inline-block;
    margin-right: 5px;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
  }

  .tag-item button {
    background-color: #0c63e4;
    color: #fff;
    border: none;
    padding: 3px 5px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
  }

  .tag {
    margin-top: 20px;
    margin-bottom: -20px;
  }

</style>
<script th:inline="javascript">
  let memberId = /*[[${memberId}]]*/ '';
  let loginMemberId = /*[[${loginMemberId}]]*/ '';
  let imageURL;

  $(document).ready(function(){
    if(memberId !== loginMemberId){
      alert("권한이 없습니다.");
      history.back();
    }
    $("#chatting").on("click", function (e) {
      window.location.href = '/api/chat/member/' + loginMemberId + '/chatRoomListPage';
    });

    $("#myInfo").on("click", function (e) {
      window.location.href = '/api/member/' + loginMemberId + '/profilePage';
    });

    $("#logout").on("click", function (e) {
      var confirmLogout = window.confirm('로그아웃 하시겠습니까?');

      if (confirmLogout) {

        $.ajax({
          type: 'Post',
          url: '/api/member/logout',
          contentType: ''
        })
        .done(function (res, status, xhr) {
          window.location.href = '/'
        })
        .fail(function (xhr, status, error) {
          console.error('로그아웃 요청 API 에러', error);
        })

      }
    });

    $.ajax({
      type:'GET',
      url:`/api/member/`+ memberId,
      contentType: 'application/json',
      success: function(response){
        if(response.data.imageURL !== null){
          $('#profileImage').attr('src', response.data.imageURL);
          imageURL = response.data.imageURL;
        } else{
          $('#profileImage').attr('src', 'https://sparta-withus.s3.ap-northeast-2.amazonaws.com/image/icon/default.png');
        }

        $('#username').val(response.data.username);
        $('#email').val(response.data.email);
        $('#introduction').val(response.data.introduction);
        let tagArray = JSON.parse(response.data.tag);
        console.log(tagArray);
        tagArray.forEach(function(tag) {
          $('#tagList').append( $('<span class="tag-item" style="margin-right: 5px">'
              + tag.trim()
              + ' <button onclick="removeTag(this)">x</button></span>'));
          console.log(tag);
        });
      },
      error: function(error){
        console.error("에러 :", error)
      }
    });

    // SSE 연결
    if (loginMemberId !== undefined && loginMemberId !== null && loginMemberId !== '') {
      connectSse();
    }
  });

  function submitUpdate(){
    let formData = new FormData();
    let tagList = $('#tagList .tag-item');
    let tags = [];
    tagList.each(function () {
      let tag = $(this).text().trim().replace('x', '');
      tags.push(tag);
      console.log(tag);
    });

    formData.append('password', $('#password').val());
    formData.append('passwordCheck', $('#passwordCheck').val());
    formData.append('username', $('#username').val());
    formData.append('email', $('#email').val());
    formData.append('introduction', $('#introduction').val());
    formData.append('tag', JSON.stringify(tags));
    if($('#formFileSm')[0].files[0]){
      formData.append('imageFile', $('#formFileSm')[0].files[0]);
    }
    formData.append('code', $('#code').val());

    $.ajax({
      method:'PATCH',
      url:'/api/member/'+memberId,
      contentType: false,
      processData: false,
      data : formData,
      success:function (response){
        if(response.msg === '프로필 수정 성공'){

          window.location.href = '/api/member/' + memberId+ '/profilePage';

        } else{
          console.error('프로필 수정 실패', response);
        }
      },
      error: function (error){
        console.error('에러 :', error.responseJSON.msg);
        alert(error.responseJSON.msg);
      }
    })
  }

  function checkInput() {
    if ($('#tag').val().trim().length >= 1 && $('#tag').val().trim().length <=4) {
      $('#addButton').prop('disabled',false);
    } else{
      $('#addButton').prop('disabled',true);
    }
  }

  function addTag() {
    if($('#tagList .tag-item').length<5){
      let tagValue = $('#tag').val().trim();
      let tagListItem = $('<span class="tag-item" style="margin-right: 5px">'
          + tagValue
          + ' <button onclick="removeTag(this)">x</button></span>'
      );
      $('#tagList').append(tagListItem);
      $('#tag').val('');
      checkInput();
    } else{
      alert("태그는 최대 5개까지 등록 가능합니다.")
    }
  }

  function removeTag(button) {
    // x 버튼을 눌렀을 때 실행되는 함수
    $(button).parent().remove();
  }

  function authenticationEmail(){
    let email = jQuery('#email').val();
    $.ajax({
      type:"POST",
      url:`/api/member/signup/email`,
      contentType:"application/json",
      dataType:"json",
      data : JSON.stringify({email}),
      success: function (response) {
          alert(response.msg);
      },
      error: function (error) {
        alert(error.responseJSON.msg);
      }

    })

  }

  function UpdatePassword() {
    var memberId = /*[[${memberId}]]*/ '';
    if($('#password').val() !== $('#passwordCheck').val()){
      alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
    }else{
      $.ajax({
        type:'PATCH',
        url :'/api/member/'+ memberId + '/updatePassword',
        contentType : 'application/json',
        data : JSON.stringify({
          password : $('#password').val()
        }),
        success : function (response){
          if(response.msg === "비밀번호 수정 성공"){
            alert(response.msg);
            window.location.href = '/api/member/'+ memberId + '/profilePage';
          } else{
            alert(response.msg);
          }
        },
        error : function(error){
          alert(error.responseJSON.msg);
        }
      })
    }

  }

  function handleKeyPress(event) {
    if (event.key === 'Enter') {
      event.preventDefault(); // Enter 키의 기본 동작(폼 제출)을 방지
      UpdatePassword();
    }
  }

  function handleFileSelect(event) {
    // 선택된 파일을 가져옵니다.
    const selectedFile = event.target.files[0];

    // 파일이 선택되지 않았을 경우 예외 처리
    if (selectedFile) {
      const reader = new FileReader();
      reader.onload = function (e){
        $('#profileImage').attr('src', e.target.result);
      }
      reader.readAsDataURL(selectedFile);
    } else{
      $('#profileImage').attr('src', imageURL);
    }
  }


</script>
<body>
<div class="main">
  <div class="title">
    <header>
      <div class="title-group" role="group">
        <div class="title">
          <h2 class="withUs" th:onclick="|location.href='@{/}'|"
              style="float: left; cursor: pointer; margin-top: 5px ">withUs</h2>
        </div>
        <div class="title2" style="float: right; display: flex; align-items: center; gap: 20px;">
          <img src="https://sparta-withus.s3.ap-northeast-2.amazonaws.com/image/icon/message.png" id="chatting" class="chat-icon"
               style="float: left; cursor: pointer; display: none; width: 35px; height: 35px; margin-right: 5px; margin-top: 5px">
          <img src="https://sparta-withus.s3.ap-northeast-2.amazonaws.com/image/icon/myInfo.png" id="myInfo" class="my-info"
               style="cursor: pointer; width: 35px; height: 35px; margin-top: 5px">
          <img src="https://sparta-withus.s3.ap-northeast-2.amazonaws.com/image/icon/arrow_10940959.png" id="logout" class="my-info"
               style="float: right; cursor: pointer; width: 35px; height: 35px; margin-top: 5px">
        </div>
      </div>
    </header>
  </div>

  <div style="margin: 50px 20% 0 20%">
    <div>
      <img id="profileImage"
           style="border-radius: 100%; height: 150px; width: 150px; float:left; margin-bottom: 30px">
    </div>
    <div class="mb-3">
      <input class="form-control form-control-sm" id="formFileSm" style="width: 500px" type="file" onchange="handleFileSelect(event)">
    </div>
    <div style="margin-top: 10px; width: 250px">
      <input class="form-control form-control"
             type="text"
             id="username"
             minlength="3" maxlength="12"
             placeholder="이름을 입력해주세요.">
    </div>
    <div class="tag">
      <p id="tagList">태그 : </p>
    </div>
    <div style="margin-top:30px;" class="row g-2" id="tagFormat">
      <div class="col-lg-9">
        <input class="form-control form-control"
               type="text"
               id="tag"
               oninput="checkInput()"
               placeholder="태그를 입력해주세요.(최대4글자)">
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-primary" id="addButton" disabled
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .4rem;"
                onclick="addTag()">추가
        </button>
      </div>
    </div>
    <div style="margin-top:30px; margin-bottom: 30px; background-color: beige">
      <input class="form-control form-control"
             type="text"
             id="introduction"
             maxlength="100"
             placeholder="자기소개를 입력해주세요.">
    </div>
    <div style="text-align: center; margin-bottom: 30px">
      <button type="button"
              class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#passwordModal">비밀번호 변경
      </button>
      <button type="submit"
              class="btn btn-primary" onclick="submitUpdate()">수정 완료
      </button>
      <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">비밀번호 변경</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="password" class="col-form-label">비밀번호 입력 : </label>
                  <input id="password" type="password" onkeypress="handleKeyPress(event)" min="4" max="16"></input>
                </div>
                <div class="mb-3">
                  <label for="passwordCheck" class="col-form-label">비밀번호 확인 : </label>
                  <input id="passwordCheck" type="password" onkeypress="handleKeyPress(event)" min="4" max="16"></input>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary" onclick="UpdatePassword()">확인</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>