<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>withUs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/clubPage.js}"></script>
    <script th:src="@{/js/getclub.js}"></script>
    <script th:src="@{/js/deleteclub.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/clubstyle.css}">

    <script th:inline="javascript">
        const host = 'http://' + window.location.host;
        var memberId;
        var isLogin;
        var isClubMember;
        var isHost;

        $(document).ready(function () {
            memberId = /*[[${memberId}]]*/ '';
            isLogin = /*[[${isLogin}]]*/ '';
            console.log(isLogin);
            console.log(memberId);
            isClubMember = /*[[${isClubMember}]]*/ '';
            isHost = /*[[${isHost}]]*/ '';

            if (isLogin === true) {
                $('#loginBtn').hide();
                $('#chatting').show();
                $('#myInfo').show();
                $('#logout').show();
                $('#create').show();
            } else {
                // memberId가 존재하지 않으면 로그인 버튼을 표시하고 채팅 이미지를 숨깁니다.
                $('#loginBtn').show();
                $('#chatting').hide();
                $('#myInfo').hide();
                $('#logout').hide();
                $('#create').hide();
            }

            if(isClubMember === true){
                $('#Notice-post').show();
                // $("#leaveClubButton").show();

            }else{
                $('#Notice-post').hide();
                $('#leaveClubButton').hide();
            }


            console.log(isHost);
            if (isHost === true) {
                $('#reviseButton').show();
                $('#deleteButton').show();
                $('#leaveClubButton').hide();
            }else{
                $('#reviseButton').hide();
                $('#deleteButton').hide();
            }



            $("#loginBtn").on("click", function(e) {
                window.location.href = host + '/api/member/loginPage';
            });

            $("#chatting").on("click", function(e) {
                window.location.href = host + '/api/chat/member/' + memberId + '/chatRoomListPage';
            });

            $("#myInfo").on("click", function(e) {
                window.location.href = host + '/api/member/' + memberId + '/profilePage';
            });

            $("#create").on("click", function(e) {
                window.location.href = host + '/api/club/post-club';
            });

            $("#logout").on("click", function(e) {
                var confirmLogout = window.confirm('로그아웃 하시겠습니까?');

                if (confirmLogout) {

                    $.ajax({
                        type: 'POST',
                        url: '/api/member/logout',
                        contentType: ''
                    })
                    .done(function (res, status, xhr) {
                        window.location.href = host + '/'
                    })
                    .fail(function (xhr, status, error) {
                        console.error('로그아웃 요청 API 에러', error);
                    })

                } else {
                    alert('로그아웃 취소');
                }

            });


        })
    </script>
</head>

<body>
<!-- section -->
<div class="main">
    <div class="title">
        <header>
            <div class="title-group" role="group">
                <div class="title1">
                    <h2 class="withUs" th:onclick="|location.href='@{/}'|">withUs</h2>
                </div>
                <div class="title2">
                    <img src="/img/message.png" id="chatting" class="chat-icon">
                    <h2 class="login" id="loginBtn">login</h2>
                    <img src="/img/create.png" id="create" class="create">
                    <img src="/img/myInfo.png" id="myInfo" class="my-info">
                    <img src="/img/arrow_10940959.png" id="logout" class="logout">
                </div>
            </div>
        </header>
    </div>
</div>






<main>
    <div class="all-container">
        <section id="club-title">
            <div class=title-item>
                <article class="club">
                    <h2 class="club-title-name" >클럽 이름</h2>
                </article>
            </div>


            <div class="button-item">
                <article class="club-button-container1">
                    <button id="reviseButton">
                        <img src="/icons/수정.png">
                    </button>

                </article>
                <article class="club-button-container2">
                    <button id="deleteButton">
                        <img src="/icons/icons8-취소-30.png">
                    </button>
                </article>
            </div>
        </section>

        <section id="notice-container">
            <div>
                <button id="Notice-post" onclick="navigateToNoticeAddPage()">
                    <img src="/icons/noties.png"/>
                </button>
                <div>
                    <h1 class="Noitce"> Notice </h1>
                </div>
            </div>
            <article class="Notice-container">
                <div class="category-list" id = "notice-box">
                </div>
                <nav aria-label="Page navigation example" class="pageNav">
                    <ul class="pagination">
                        </li>
                        <div class="page" id="page">
                        </div>
                        </li>
                    </ul>
                </nav>
            </article>


            <script th:inline="javascript">

                /*<![CDATA[*/
                $(document).ready(function () {
                    fetchNotices();
                    function fetchNotices() {
                        var clubId = Number(window.location.pathname.split('club/').pop().replace(/[^0-9]/g, ''));
                        console.log(clubId)
                        $.ajax({
                            type: 'GET',
                            url: '/api/club/' + clubId + '/notice',
                            contentType:'application/json',
                            success:function (result){
                                const list = result.data;
                                $(list).each(function (index, res) {
                                    let title = res.title;
                                    let id = res.id;
                                    const card =
                                        '<div class="board-box" onclick="noticePage(\'' + id + '\')">' +
                                        '    <div style="font-weight: bold; padding-bottom: 100px;">' + title + '</div>' +
                                        '</div>';
                                    $('#notice-box').append(card);
                                });
                            }
                        });
                    }
                    // var clubList = window.location.pathname.split('club/').pop().replace()
                    const cntList = [[${countList}]];
                    // const cntList = /*[[${countList}]]*/ '';
                    console.log(cntList)
                    $(cntList).each(function (index,res){
                        // const card = '<li class="page-item"><a class="page-link" href="@{api/notice/{noticeId}(noticeId=${'+noticeId+'})/comment(page=${'+res+'})}">'+res+'</a></li>';
                        const card = '<li class="page-item" style="float: left"><a class="page-link" onclick="sendPage(\'' + res + '\')">'+res+'</a></li>';
                        $('#page').append(card);
                    })
                });
                /*]]>*/

                function noticePage(noticeId){
                    var clubId = Number(window.location.pathname.split('club/').pop().replace(/[^0-9]/g, ''));
                    window.location.href = "/api/club/" + clubId +"/notice/" + noticeId + "/noticeDetailPage"
                    console.log(clubId)
                    // var noticeId
                    console.log(noticeId)
                }

                function sendPage(pageNumber) {
                    var clubId = Number(window.location.pathname.split('club/').pop().replace(/[^0-9]/g, ''));
                    $('#notice-box').empty();
                    // const pageSize = 2;
                    $.ajax({
                        type: 'GET',
                        url: '/api/club/' + clubId + '/notice?page=' + pageNumber,
                        contentType: 'application/json',
                        success: function (result) {
                            const list = result.data;
                            // const startIdx = (pageNumber - 1) * pageSize;
                            // const endIdx = startIdx + pageSize;
                            // const slicedList = list.slice(startIdx, endIdx)
                            $(list).each(function (index, res) {
                                let title = res.title;
                                let id = res.id;
                                const card = '' +
                                    '  <div class="board-box" onclick="noticePage(\'' + id + '\')">\n' +
                                    '                     <p>' + title + '</p>\n' +
                                    '                    </div>';
                                $('#notice-box').append(card);
                            });
                        }
                    });
                }
            </script>
        </section>
        <section id="club-container">
            <div class="item1">
                <h1 class="club-introduce" >클럽소개</h1>
                <article class="Club-container">
                    <div class="club-introduce">
                        <div class="club-introduce-box">
                            소개 내용
                        </div>
                    </div>
                </article>
            </div>

            <div class="item2">
                <h1 class="date">날짜</h1>
                <article class="date-container">
                    <div class="start-time"></div>
                    <div class="end-time"></div>

                </article>
            </div>
            <div class="item3">
                <h4 class=invite>클럼 참가자</h4>
                <div>
                    <div class=invite-member>

                    </div>
                </div>

            </div>
            <button id = "leaveClubButton">
                클럽 탈퇴
            </button>
        </section>
    </div>

</main>
</body>

</html>
